@import '../theme';

.user__desc {
  padding: 15px 0;
  line-height: 1.5;
  color: $color-text-second;
  .name {
    color: $color-text-primary;
    font-size: 18px;
    font-weight: 500;
  }
}

.user__accounts {
  padding: 15px;
  line-height: 2;
  color: $color-text-third;
}

.user__avatar {
  border-radius: 50%;
}

.user__arraw {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 10px;
  font-size: 18px;
  color: $color-text-second;
}

.user__tipicon {
  color: $color-primary;
  padding-right: 10px;
}

.user__primary {
  color: $color-primary;
}

.user__tips {
  font-size: 16px;
  color: $color-text-second;
}

.user__ownlist {
  padding: 15px;
  font-size: 16px;
}

.user__resettips {
  font-size: 14px;
  color: $color-text-third;
  line-height: 1.75;
}

.box {
  position: relative;
  width: 100%;
  border: 1px solid $color-p-light;
  background: $color-p-light;
}

.animate {
  padding: 10px 20px;
  font-size: 16px;
  color: $color-p-dark;
  white-space: nowrap;
  animation: 20s wordsLoop linear infinite normal;
}


@keyframes wordsLoop {
  0% {
    transform: translateX(85%);
    -webkit-transform: translateX(85%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

@-webkit-keyframes wordsLoop {
  0% {
    transform: translateX(85%);
    -webkit-transform: translateX(85%);
  }
  100% {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
  }
}

.icon__reverse {
  display: inline-block;
  transform: rotate(0deg);
  transition: all .2s linear;
}

.icon__reverse.reverse{
  transform: rotate(180deg);
}
