html,
body {
  *overflow: auto;
  overflow: hidden;
  overflow-y: auto;
}

.cor_1 {
  color: #0960ab
}

.cor_2 {
  color: #747474
}

.cor_3 {
  color: #d62508
}

.aly_r {
  text-align: right
}

.aly_l {
  text-align: left
}

.aly_c {
  text-align: center
}

.padl {
  padding-left: 8px;
}

.padr {
  padding-right: 8px;
}

.fz_t {
  font: 18px/48px "Microsoft YaHei", Tahoma, Geneva, sans-serif;
}

.border_b {
  border-bottom: solid 1px #d8d8d8
}

.tableWrapper {}

.tdsty_1 {
  height: 46px;
  font-size: 12px;
  line-height: 23px;
  vertical-align: top;
  width: 50%
}

.bg_1 {
  background: url(https://shdcapp.wondersgroup.com/mobilemedicalplatform/image/20130315173202.gif) no-repeat left top;
  padding-left: 46px;
}

.font_1,
.font_2 {
  font-family: "Microsoft YaHei", Tahoma, Geneva, sans-serif;
  color: #0960ab
}

.font_1 {
  font-size: 20px;
  line-height: 26px;
}

.font_2 {
  font-size: 12px;
  line-height: 20px;
}

.userdetal {}

.userdetal td {
  font: 12px/25px "Microsoft YaHei", Tahoma, Geneva, sans-serif;
  color: #787878;
}

.dataListTh th {
  background: #eee;
  border-bottom: solid 1px #d8d8d8;
  border-top: solid 2px #c9c9c9;
  height: 30px;
  font: 14px/30px "Microsoft YaHei", Tahoma, Geneva, sans-serif;
  font-weight: normal;
  color: #666
}

.dataListTd td {
  border-bottom: dashed 1px #e4e4e4;
  vertical-align: middle;
  font: 12px/29px "Microsoft YaHei", Tahoma, Geneva, sans-serif;
  color: #0960ab
}

img.arow {
  vertical-align: middle;
  margin-left: 4px;
  margin-top: -3px;
}

#interHead {
  height: 33px;
  position: relative;
  overflow: hidden;
}

#interBody table {
  margin-top: -0px
}

#interBody {
  overflow-y: auto;
  overflow-x: hidden
}

.tabheader,
.tabfooter {}

.tabfooter td {
  font: 12px/24px Tahoma, Geneva, sans-serif
}