$color-primary: #18a6e0;
$color-primary-orange: #ff6a00;
$color-primary-green: #a5d6a7;
$color-border: #ddd;
$color-border-light: #eee;
$color-border-black: #808080;
$color-text-primary: #333;
$color-text-second: #666;
$color-text-third: #999;
$color-white: #fff;
$color-background: #f5f5f9;

$height-without-search-bar: calc(100vh - 44px);