@import '../theme';

.login__icon {
  color: $color-primary;
  font-size: 16px;
  margin-right: 5px;
}

.login__forget {
  color: $color-text-third;
}

.login__register {
  float: right;
  color: $color-primary;
}

.login__desc {
  padding: 15px;
  line-height: 1.5;
  background: $color-white;
  border: 1px $color-border-black dashed;
  border-radius: 5px;
  font-size: 14px;
  color: $color-text-second;
  .content {
    position: relative;
    i {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 14px;
    }
    p {
      padding-left: 20px;
    }
  }
}

.register__error {
  line-height: 1.75;
  color: $color-primary-orange;
}

.register__agreement{
  line-height: 1.75;
  span{
    color: $color-primary-orange;
  }
}
