@import '../theme';

.tabs__container {
  background: $color-white;
  overflow: hidden;
  height: $height-without-search-bar;
}

.tabs__titles {
  position: relative;
  float: left;
  width: 35%;
  height: 100%;
  background: $color-background;
  .title {
    padding: 10px;
    border-bottom: 1px solid $color-border-light;
    text-align: center;
  }
  .title.active {
    background: $color-white;
  }
}

.tabs__content {
  position: relative;
  float: left;
  width: 65%;
  height: 100%;
  overflow: scroll;
}

.tab__content {
  position: relative;
  height: auto;
}