@import '../theme';
.tabs__container {
  background: $color-white;
  overflow: hidden;
  height: $height-without-search-bar;
}

.tabs__container-full {
  background: $color-white;
  overflow: hidden;
  height: 100vh;
}

.tabs__container-common {
  background: $color-white;
  overflow: hidden;
}

.tabs__titles {
  position: relative;
  float: left;
  width: 35%;
  height: 100%;
  background: $color-background;
  overflow: scroll;
  .title {
    padding: 10px;
    border-bottom: 1px solid $color-border-light;
    text-align: center;
  }
  .title.active {
    background: $color-white;
  }
}

.tabs__content {
  position: relative;
  float: left;
  width: 65%;
  height: 100%;
  overflow: scroll;
}

.tab__content {
  position: relative;
  height: auto;
}

.tabs__titles-common {
  position: relative;
  width: 100%;
  background: $color-white;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  border-top: 1px solid $color-border-light;
  border-bottom: 1px solid $color-border-light;
  color: $color-primary;
  .title {
    line-height: 1.5;
    display: inline-block;
    padding: 10px 5px;
    max-width: 80px;
    border-right: 1px solid $color-border-light;
    text-align: center;
    white-space: normal;
  }
  .title:first-child {
    border-left: 1px solid $color-border-light;
  }
  .title.active {
    background: $color-primary;
    color: $color-white;
  }
}

.tabs__content-common {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.tab__content-common {
  position: relative;
  height: auto;
}